html, body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #000;
}

#preloader {
    display: none;
}

canvas {
    background-color: transparent;
    width:900px;
    height: auto;
    border: 1px solid #aaa;
}

#outputArr {
    position: relative;
    display:block;
    font-size:12px;
    padding:10px;
    background-color: #ccc;
    border: 1px solid #aaa;
    width: 90%;
    height: 300px;
}

#clock {
    color: #fff;
    span {
        /* margin:10px; */
    }
    .elapsed::after {
        content: ' / ';
    }
}