html, body {
    font-family: 'Courier New', Courier, monospace;
}

canvas {
    background-color: #000;
    width:600px;
    height: auto;
}

#outputArr {
    position: relative;
    display:block;
    font-size:12px;
    padding:10px;
    background-color: #ccc;
    border: 1px solid #aaa;
    width: 90%;
    height: 300px;
}

#clock {
    span {
        /* margin:10px; */
    }
    .elapsed::after {
        content: ' / ';
    }
}